*{
	margin: 0;
	padding: 0;
}
body{
	background: #F3F8FB;
}
.top{
	width: 1180px;
	text-align: center;
	margin: 20px auto;
}
.top img{
	max-width: 50px;
	height: 50px;
}
.top h3{
	margin-top: 10px;
	font-size: 24px;
	letter-spacing: 5px;
	color: #666;
}
.head{
	width: 1180px;
	margin: auto;
	background: #012883;
	padding: 20px 0;
	text-align: center;
	border-radius: 20px;
}
.head ul li {
	list-style: none;
	display: inline-block;
	margin: 0 10px;
}
.head ul li a{
	color: #ffffff;
	font-size: 18px;
	padding: 20px 30px;
	text-decoration: none;
}
.head ul .active a{
	background: rgba(255,255,255,0.3);
}
.head ul li a:hover{
	background: rgba(255,255,255,0.3);
}
.banner{
	width: 90%;
	height: 300px;
	margin: 20px auto;
}
.banner ul li {
	position: relative;
	list-style: none;
	float: left;
	width: 32%;
	margin-right: 2%;
	border-radius: 10px;
	overflow: hidden;
}
.banner ul li:last-child{
	margin-right: 0;
}
.banner ul li img{
	display: block;
	width: 100%;
	height: 300px;
	object-fit: cover;
}
.banner ul li p{
	position: absolute;
	width: 100%;
	height: 40px;
	line-height: 40px;
	left: 0;
	bottom: 0;
	text-align: center;
	color: #FFFFFF;
	background: rgba(0,0,0,0.5);
}
.home-one{
	width: 1180px;
	height: 380px;
	margin: 20px auto;
}
.ho-left{
	float: left;
	width: 800px;
}
.hbl-one{
	float: left;
	width: 480px;
}
.hbl-two{
	float: right;
	width: 240px;
	padding: 10px;
	margin-top: 15px;
	background: #FFFFFF;
}
.hbl-two img{
	width: 100%;
	height: 310px;
	object-fit: cover;
}
.hol-list{
	cursor: pointer;
	width: 480px;
	height: 120px;
	margin-top: 15px;
	background: #FFFFFF;
	padding: 20px;
	transition: all 0.3s;
}
.hol-list:hover{
	transform: translateY(-10px);
}
.hol-list img{
	float: left;
	width: 200px;
	height: 120px;
	object-fit: cover;
}
.hol-text{
	float: left;
	margin-left: 20px;
}
.hol-text p{
	font-size: 16px;
	margin-bottom: 20px;
}
.hol-text span{
	color: #999999;
	font-size: 15px;
}
.ho-right{
	float: right;
	width: 300px;
	background: #FFFFFF;
	padding: 20px;
}
.js img{
	width: 100%;
	height: 150px;
	margin-top: 20px;
	object-fit: cover;
}
.js p{
	margin: 10px 0;
}
.js p b{
	display: inline-block;
	width: 48px;
	color: #012883;
	font-weight: normal;
	margin-right: 10px;
}
.home-about{
	width: 1180px;
	height: 320px;
	margin: 20px auto;
}
.home-about h3{
	margin-bottom: 20px;
}
.home-about ul li{
	cursor: pointer;
	list-style: none;
	float: left;
	width: 24%;
	margin-right: 1.3%;
	background: #FFFFFF;
}
.home-about ul li p{
	background: #FFFFFF;
	padding: 10px;
}
.home-about ul li:last-child{
	margin-right: 0;
}
.home-about ul li img{
	display: block;
	width: 100%;
	height: 220px;
	object-fit: cover;
	transition: all 0.3s; 
}
.home-about ul li:hover img{
	transform: scale(0.8);
}
.home-video{
	width: 1180px;
	margin: auto;
	text-align: center;
}
.home-video h3{
	text-align: left;
}
.home-video .video{
	margin-top: 20px;
	background: #414047;
}
.footer{
	margin-top: 20px;
	text-align: center;
	text-align: center;
}
.footer ul{
	background: #111111;
	padding: 20px 0;
}
.footer ul li{
	display: inline-block;
	margin: 0 20px;
}
.footer ul li a{
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
}
.footer p{
	color: #575757;
	padding: 10px 0;
	background: #000000;
}
.about{
	width: 1180px;
	height: 600px;
	margin: 20px auto;
}
.about-l {
	float: left;
	width: 300px;
	background: #FFFFFF;
	padding: 10px;
}
.about-r {
	float: right;
	width: 800px;
	height: 550px;
	background: #FFFFFF;
	padding: 20px;
}
.about-r h3{
	margin-bottom: 20px;
}
.about-r p{
	margin: 10px 0;
	line-height: 1.8;
}
.about-r p span{
	color: #999;
	font-size: 15px;
}
.about-r ul li{
	cursor: pointer;
	display: inline-block;
	list-style: none;
	color: #FFFFFF;
	background: rgba(0,0,0,0.3);
	padding: 5px 10px;
	margin-right: 15px;
}
.about-r ul li:hover{
	background: #012883;
	color: #FFFFFF;
}
.like{
	width: 1180px;
	height: 600px;
	margin: 20px auto;
}
.like-l{
	float: left;
	width: 780px;
	height: 600px;
}
.like-l .hol-list{
	width: 100%;
}
.like-r{
	float: right;
	width: 320px;
	height: 600px;
}
.like-r ul li{
	list-style: none;
	height: 160px;
	background: #FFFFFF;
	margin-bottom: 20px;
	padding: 20px;
}
.like-r ul li img{
	width: 100%;
	height: 140px;
	object-fit: cover;
}
.like-r ul li p{
	margin-top: 5px;
}
.zp{
	height: 560px;
}
.zp ul li{
	margin-bottom: 20px;
}
.zp ul li:nth-child(4){
	margin-right: 0;
}
.ly{
	width: 1140px;
	margin: 20px auto;
	padding: 20px;
	background: #FFFFFF;
}
.ly label{
	display: block;
	margin-bottom: 15px;
}
.ly input{
	width: 200px;
	height: 30px;
	padding-left: 10px;
}
.ly span{
	display: inline-block;
	width: 80px;
	text-align: right;
	font-size: 15px;
}
.ly textarea{
	width: 320px;
	height: 150px;
	padding: 5px;
}
.ly .submit{
	width: 100px;
	margin-left: 85px;
	color: #FFFFFF;
	background: #333333;
	border: none;
	padding-left: 0;
}
.title{
	width: 1180px;
	margin: 20px auto 0 auto;
}